@font-face {
	font-family: "D-Din Exp";
	src: url("../fonts/d-din/D-DINExp.otf");
}

@font-face {
	font-family: "D-Din Exp-Bold";
	src: url("../fonts/d-din/D-DINExp-Bold.otf");
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto-2014/Roboto-Regular.ttf");
}

body {
	margin: 0;
	background-color: #06151C;
	color:#fff;
}

/*Header*/

header {
	background-color: #030014;
	color: #fff;
	align-items: center;
}

#logo {
	max-height: 40px;
	margin-left: 4%;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
}

nav {
	display: inline-block;
}

ul {
	list-style-type: none;
}

li {
	display: inline;
}

a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-family: Roboto;
}

/*Main content*/
.mainsection {
	width: 700px;
	margin-left: 10%;
	display: inline-block;
}

h1 {
	font-family: "D-DIN Exp-Bold";
	text-transform: uppercase;
	color: #6280AC;
	font-size: 1.4em;
}

/*Sidebar*/
.sidebar {
	display: inline-block;
	float: right;
	width: 500px;
}

h2 {
	font-family: "D-DIN Exp-Bold";
	text-transform: uppercase;
	color: #6280AC;
	font-size: 1.2em;
}