@font-face {
	font-family: "D-Din Exp";
	src: url("../fonts/d-din/D-DINExp.otf");
}

@font-face {
	font-family: "D-Din Exp-Bold";
	src: url("../fonts/d-din/D-DINExp-Bold.otf");
}

body {
	margin: 0;
	background-color: #06151C;
	color:#fff;
}

header {
	background-color: #030014;
	color: #fff;
}