@font-face {
	font-family: "D-Din Exp";
	src: url("../fonts/d-din/D-DINExp.otf");
}

@font-face {
	font-family: "D-Din Exp-Bold";
	src: url("../fonts/d-din/D-DINExp-Bold.otf");
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/roboto-2014/Roboto-Regular.ttf");
}

body {
	margin: 0;
	background-color: #06151C;
	color:#fff;
}

/*Header*/

header {
	background-color: #030014;
	color: #fff;
	align-items: center;
}

#logo {
	max-height: 40px;
	margin-left: 5%;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
}

nav {
	float: right;
	margin-right: 18%;
}

ul {
	list-style-type: none;
	margin-top: 8px;
}

li {
	display: inline;
}

li a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-family: Roboto;
	padding-right: 130px;
	padding-top: 15px;
	font-size: 1.2em;
	transform: scale(1, 0.95);
	-webkit-transform: scale(1, 0.95); /* Safari and Chrome */
	-moz-transform: scale(1, 0.95); /* Firefox */
	-ms-transform: scale(1, 0.95); /* IE 9+ */
	-o-transform: scale(1, 0.95); /* Opera */
}

li a:hover {
	color: #999;
}

.current {
	text-decoration: underline;
}

#banner {
	width: 100%;
}

/*Main content*/
.mainsection {
	width: 1050px;
	display: inline-block;
}

h1 {
	font-family: "D-DIN Exp-Bold";
	text-transform: uppercase;
	color: #6280AC;
	font-size: 1.4em;
	transform: scale(1, 0.95);
	-webkit-transform: scale(1, 0.95); /* Safari and Chrome */
	-moz-transform: scale(1, 0.95); /* Firefox */
	-ms-transform: scale(1, 0.95); /* IE 9+ */
	-o-transform: scale(1, 0.95); /* Opera */
	text-align: center;
	margin-bottom: 35px;
	margin-left: 20px;
}

.news {
	max-width: 850px;
	margin-left: 14%;
}

.col1 {
	max-width: 380px;
	height: 320px;
    margin-right: 45px;
    display: inline-block;
    font-size: 0.8em;
    padding-bottom: 30px;
}

.col1 img {
	width: 360px;
	height: 240px;
	object-fit: cover;
	display: inline-block;
	border: 3px solid #fff;
	margin-bottom: 15px;
}

.textbox a {
	display: inline-block;
	font-family: "Roboto";
	font-weight: normal;
	height: 60px;
	color: #fff;
	text-decoration: none;
	font-size: 1.3em;
}

.textbox a:hover {
	text-decoration: underline;
	color: #999;
}

/*Sidebar*/
.sidebar {
	display: inline-block;
	float: right;
	width: 450px;
	margin-right: 40px;
}

.fact-box {
	border-left: 2px solid #fff;
	padding-left: 30px;
}

hr {
	size: 2px;
}

.link-box {
	border-left: 2px solid #fff;
	padding-left: 30px;
}

h2 {
	font-family: "D-DIN Exp-Bold";
	text-transform: uppercase;
	color: #6280AC;
	font-size: 1.2em;
	transform: scale(1, 0.95);
	-webkit-transform: scale(1, 0.95); /* Safari and Chrome */
	-moz-transform: scale(1, 0.95); /* Firefox */
	-ms-transform: scale(1, 0.95); /* IE 9+ */
	-o-transform: scale(1, 0.95); /* Opera */
}

p {
	font-family: "Roboto";
}